@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

:root{
    --cor_padrao: rgb(13, 106, 197);
    --cor_padrao_escuro: rgb(4, 59, 114);
}


*{

    box-sizing: border-box;
    outline: 0;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--cor_padrao);
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    font-family:  'Opens sans' sans-serif;
    border-radius: 10px;
}

.alinhado_esquerda{
    width: 300px;
    float: left;
}

.alinhado_direita{
    width: 300px;
    float: right;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20;
}

form input {
    outline: 1px solidf black;
}

form button{
    border: none;
    background: var(--cor_padrao);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--cor_padrao_escuro);
}

form button:active{
    background: limegreen;
}